<h1>Biblio-tech</h1>
<p>Le site qui te permet d'emprunter des livres gratuitement et simplement !</p>
  <%= link_to "TOUS LES LIVRES", livres_path(@livre) %>

<h2>Choisis une catégorie :</h2>
<ul>
  <li><a href="#">Entrepreneurship</li>
  <li><a href="#">Marketing</li>
  <li><a href="#">Programmation</li>
</ul>
